%div#slot_machine
  .fancy
    - %w(subjects actions reasons).each do |act_type|
      %ul.slot{:id => "#{act_type}"}
        = render 'load_ma_reasons',:reasons => @ma_reasons.where(position: act_type), :act_type => act_type
    %h1.hero
      %input#playFancy{type: "button", value: "Give me a reason", class: "btn"}/
%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"}
%link{charset: "utf-8", href: asset_path("jslot/index.css"), media: "screen", rel: "stylesheet", title: "no title", type: "text/css"}/
