.copyright.clearfix
  .container
    .pull-left
      %p Copyright © 2014 4am-lesson
    / /.pull-left
    .pull-right
      %nav.footer
        = render 'nav_links'
      / /nav.footer
    / /.pull-right
  / /.container
/ /.copyright
