.copyright.clearfix
  .container
    .pull-left
      %p Copyright © #{Date.current.year} 4am-Lesson
    / /.pull-left
    .pull-right
      %nav.footer
        = render 'nav_links'
      / /nav.footer
    / /.pull-right
  / /.container
/ /.copyright
