.copyright.clearfix
  .container
    .pull-left
      %p Copyright © 2014 4am-lesson
    / /.pull-left
    .pull-right
      %nav.footer
        %ul.inline
          %li
            %a{href: "#"} Home
          %li
            %a{href: "#"} Services
          %li
            %a{href: "#"} About
          %li
            %a{href: "#"} Portfolio
          %li
            %a{href: "#"} Features
          %li
            %a{href: "#"} Contact
      / /nav.footer
    / /.pull-right
  / /.container
/ /.copyright
