%section.pricing.bordered
  .container
    %h1.hero Courses
    %p.sub-hero Join Us
    .row-fluid
      .package.span3
        %header
          %h2 Ruby Level I
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Environment Setup
          %li Basic concept
          %li Control flow
          %li.highlight Class and methods          
          %project Project:Lazy Portal System
        %footer
          %a.button.small{href: "#"} Enroll
      / /.span3.package
      .package.span3
        %header
          %h2 Programing II
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Handy Tools
          %li Version Control - Git
          %li Class and methods - 1
          %li Class and methods - 2
          %project Project: Find cheapest tickets
        %footer
          %a.button.small{href: "#"} Enroll
      .package.span3
        %header
          %h2 Web Programing
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li How the website works
          %li HTML & DOM 
          %li Javascript & JQuery
          %li CSS & SCSS
          %li Build your own website
        %footer
          %a.button.small{href: "#"} Enroll                    
      .package.span3
        %header
          %h2 Photography
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Intent
          %li Exposure
          %li Depth of Field
          %li.highlight Shutter Effects
          %li Presentation
        %footer
          %a.button.small{href: "#"} Coming Soon

    / /.row-fluid
  / /.container
/ /.pricing
