%section.pricing.bordered
  .container
    %h1.hero Courses
    %p.sub-hero Join Us
    .row-fluid
      .package.span3
        %header
          %h2 Programing I
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Environment Setup
          %li.courses Introduction
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!
      / /.span3.package
      .package.span3
        %header
          %h2 Programing II
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Package info 1
          %li Package info 2
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!
      .package.span3
        %header
          %h2 Photography
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Package info 1
          %li Package info 2
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!
      .package.span3
        %header
          %h2 Web Programing
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Package info 1
          %li Package info 2
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!          
    / /.row-fluid
  / /.container
/ /.pricing
