%header.main
  .container
    %a.logo{href: "#"}
      %img{alt: "4am-lesson", src:  asset_path("economizer/images/logo.png")}/
    %nav.mobile.hidden-desktop.pull-right
      %select.mobile-nav
        %option{value: ".home"} Home
        %option{value: ".our-team"} Our Team
        %option{value: ".our-work"} Our Work
        %option{value: ".contact"} Get in touch
    / nav.mobile
    %nav.main.nav-collapse.visible-desktop
      = render 'nav_links'
    / /nav.main
  / /.container
/ /header.main