#home.flexslider
  .dots
  %ul.slides
    %li.slide1
      .container
        .slide-content
          %h1.hero
            4AM Lesson
            %span 學習Coding技能 拒絕低薪人生
          %a.button.get-started{href: ".our-work"} 如何反轉職涯
    %li.slide2
      .container
        .slide-content
          %h1.hero
            學習當今最火紅的職業
            %span 歡迎想轉職、或者以程式能力結合跨領域知識的朋友
          %a.button.get-started{href: ".courses"} 參加新課程
    %li.slide3
      .container
        .slide-content
          %h1.hero
            一流技術團隊
            %span 將目前業界最新技術，求職所具備的本領導入課程中
          %a.button.get-started{href: ".contact"} 了解師資團隊