#home.flexslider
  .dots
  %ul.slides
    %li.slide1
      .container
        .slide-content
          %h1.hero
            4AM-Lesson.
            %span The ultimate theme
          %a.button.get-started{href: "#"} Get started
        / /.slide-content
      / /.container
    / /.slide1
    %li.slide2
      .container
        .slide-content
          %h1.hero
            Responsive.
            %span Built using bootstrap
          %a.button.get-started{href: "#"} Get started
        / /.slide-content
      / /.container
    / /.slide2
    %li.slide3
      .container
        .slide-content
          %h1.hero
            HTML5/CSS3.
            %span Clean, valid standards.
          %a.button.get-started{href: "#"} Get started
        / /.slide-content
      / /.container
    / /.slide2
    %li.slide4
      .container
        .slide-content
          %h1.hero
            One Page.
            %span Smooth scrolling.
          %a.button.get-started{href: "#"} Get started
        / /.slide-content
      / /.container
    / /.slide2
    %li.slide5
      .container
        .slide-content
          %h1.hero
            Full Screen.
            %span Beautiful, captivating slider.
          %a.button.get-started{href: "#"} Get started
        / /.slide-content
      / /.container
    / /.slide5
/ /#home.flexslider
