#home.flexslider
  .dots
  %ul.slides
    %li.slide1
      .container
        .slide-content
          %h1.hero
            4AM-Lesson @ Taipei
            %span 學習永不停滯
          %a.button.get-started{href: ".our-work"} 觀看我們作品          
        / /.slide-content
      / /.container
    / /.slide1
    %li.slide2
      .container
        .slide-content
          %h1.hero
            下班後的生活是否無聊
            %span 學校畢業之後有多久沒學習新東西了？
          %a.button.get-started{href: ".pricing"} 參加新課程
        / /.slide-content
      / /.container
    / /.slide2
    %li.slide3
      .container
        .slide-content
          %h1.hero
            找尋你身邊的高手
            %span 開一門課，把知識分享給大家
          %a.button.get-started{href: ".contact"} 開啟新課程
        / /.slide-content
      / /.container
    / /.slide2
    
/ /#home.flexslider
