%section.our-company.our_company
  .container
    %h1.hero
      = t('our_company')
    .row-fluid
      %h5.primary
      %p Our team introduction.
      .row-fluid
      .span12
        .span6
          %h6 預期成果
          %ul
            %li 具備資訊工程系學生程式撰寫能力


        .span6
          %h6 師資團隊背景
          %ul.fancy-list{"data-icon" => "icon-ok"}
            %li 台灣大學網路多媒體研究所-資料探勘實驗室
            %li 台灣大學資訊工程研究所-嵌入式系統實驗室
            %li 台灣大學網路多媒體研究所-影像處理實驗室
            %li 交通大學資訊工程所-整合系統設計實驗室
            %li 皆各自任職於 Top 科技公司
      .row-fluid
      .span12
        .span6
          %h6 業界專長領域
          %ul.fancy-list{"data-icon" => "icon-thumbs-up"}
            %li 智慧影像識別開發
            %li Mobile App 開發
            %li 嵌入式系統開發
            %li Second list item
            %li Third item in the list
        .span6
          %h6 教學方式
          %ul.fancy-list{"data-icon" => "fa-thumbs-o-up"}
            %li 師生比極低，班級人數控制在7人內
            %li 一位講師搭配一位以上助教
            %li 手動實作、課堂上就學到會
            %li 不填充冗長不實用課程，拉長上課時數
            %li
            %li Third item in the list
