%section.our-company
  .container
    %h1.hero 關於我們
    .row-fluid
      .span6
        %h5.primary 我們團隊
        %p Our team introduction.
        .row-fluid
          .span6
            %h6 Secure
            %ul.fancy-list{"data-icon" => "icon-ok"}
              %li List item
              %li Second list item
              %li Third item in the list
          / /.span6
          .span6
            %h6 Reliable
            %ul.fancy-list{"data-icon" => "icon-thumbs-up"}
              %li List item
              %li Second list item
              %li Third item in the list
          / /.span6
        / /.row-fluid
      / /.span4 center
      .span6
        %h5.primary 拿手工具
        %ul.skills.nmp.none
          %li{"data-width" => "100"}
            %span Ruby on Rails
            .background
              %div
          %li{"data-width" => "75"}
            %span Python
            .background
              %div
          %li{"data-width" => "90"}
            %span Illustrator / Photoshop
            .background
              %div 
          %li{"data-width" => "60"}
            %span CSS / Javascript
            .background
              %div
          %li{"data-width" => "50"}
            %span iOS / Android
            .background
              %div
      / /.span4 center
    / /.row-fluid
  / /.container
/ /.features
