%section.our-work
  .container
    %h1.hero Our Work
    %p.sub-hero Check out something we've created
    .portfolio-controls.clearfix
      .pull-right.hidden-phone
        %span Columns:
        %select#portfolio-selector
          %option{value: "2"} 2
          %option{value: "3"} 3
          %option{value: "4"} 4
      / /.pull-right
    / /.portfolio-controls
    #portfolio{"data-columns" => "3"}
      %article.portfolio.creative
        %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the first portfolio item", "data-title" => "Ma words", href: slot_machines_path }
          .holder
            .mask
            .type
              %i.icon.icon-picture
            .caption
              %p  #{"馬語錄 Ma Red Book ".split.map(&:capitalize).join(' ')}
            %img{alt: "Portfolio Item", src:  asset_path("jslot/dictator-ma.jpg")}/
      %article.portfolio.artwork
        %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the second portfolio item", "data-title" => "買一間房？還是監獄？", href: "portfolio/portfolio-single.html"}
          .holder
            .mask
            .type
              %i.icon.icon-film
            .caption
              %p 買一間房？還是監獄？
            %img{alt: "Portfolio Item", src:  "/images/houses/home_jail.jpg"}/
      %article.portfolio.artwork
        %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the second portfolio item", "data-title" => "買一張便宜的機票去冰島", href: "portfolio/portfolio-single.html"}
          .holder
            .mask
            .type
              %i.icon.icon-film
            .caption
              %p 買一張便宜的機票去冰島
            %img{alt: "Portfolio Item", src:  "/images/houses/travel_iceland.jpg"}/

      %article.portfolio.artwork
        %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the second portfolio item", "data-title" => "出遊分組不再是麻煩事情", href: "portfolio/portfolio-single.html"}
          .holder
            .mask
            .type
              %i.icon.icon-film
            .caption
              %p 出遊分組不再是麻煩事情
            %img{alt: "Portfolio Item", src:  "/images/houses/travel_iceland.jpg"}/

      / %article.portfolio.business
      /   %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the third portfolio item", "data-title" => "Third portfolio item", href: "portfolio/portfolio-single.html"}
      /     .holder
      /       .mask
      /       .type
      /         %i.icon.icon-music
      /       .caption
      /         %p Caption for portfolio item
      /       %img{alt: "Portfolio Item", src:  asset_path("economizer/images/portfolio3.jpg")}/
      / %article.portfolio.creative
      /   %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the fourth portfolio item", "data-title" => "Fourth portfolio item", href: "portfolio/portfolio-single.html"}
      /     .holder
      /       .mask
      /       .type
      /         %i.icon.icon-link
      /       .caption
      /         %p Caption for portfolio item
      /       %img{alt: "Portfolio Item", src:  asset_path("economizer/images/portfolio4.jpg")}/
      / %article.portfolio.artwork
      /   %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the fifth portfolio item", "data-title" => "Fifth portfolio item", href: "portfolio/portfolio-single.html"}
      /     .holder
      /       .mask
      /       .type
      /         %i.icon.icon-picture
      /       .caption
      /         %p Caption for portfolio item
      /       %img{alt: "Portfolio Item", src:  asset_path("economizer/images/portfolio1.jpg")}/
      / %article.portfolio.business
      /   %a.portfolio-ajax{"data-subtitle" => "Here is the caption for the sixth portfolio item", "data-title" => "Sixth portfolio item", href: "portfolio/portfolio-single.html"}
      /     .holder
      /       .mask
      /       .type
      /         %i.icon.icon-film
      /       .caption
      /         %p Caption for portfolio item
      /       %img{alt: "Portfolio Item", src:  asset_path("economizer/images/portfolio2.jpg")}/
    / /#portfolio
  / /.container
/ /.our-work