%section.our-company
  .container
    %h1.hero About Us
    .row-fluid
      .span6
        %h5.primary Our Company
        %p Our team introduction.
        .row-fluid
          .span6
            %h6 Secure
            %ul.fancy-list{"data-icon" => "icon-ok"}
              %li List item
              %li Second list item
              %li Third item in the list
          / /.span6
          .span6
            %h6 Reliable
            %ul.fancy-list{"data-icon" => "icon-thumbs-up"}
              %li List item
              %li Second list item
              %li Third item in the list
          / /.span6
        / /.row-fluid
      / /.span4 center
      .span6
        %h5.primary Our Skills
        %ul.skills.nmp.none
          %li{"data-width" => "100"}
            %span HTML
            .background
              %div
          %li{"data-width" => "75"}
            %span Ruby
            .background
              %div
          %li{"data-width" => "90"}
            %span 
            .background
              %div Python
          %li{"data-width" => "60"}
            %span CSS
            .background
              %div
          %li{"data-width" => "50"}
            %span jQuery
            .background
              %div
      / /.span4 center
    / /.row-fluid
  / /.container
/ /.features
