%section.our-team
  .container
    %h1.hero Our team
    %p.sub-hero Meet the talented members of our team
    .members.clearfix
      .member
        .overlay
        %img{alt: "Kevin Luo", src:  asset_path("economizer/images/kevin_avatar.jpg")}/
        %p.name.to-right Kevin
        %p.position.to-right Senior Developer
        %p.info.to-right Coding ? Peice of cake.
        %ul.social.to-right
          %li
            %a{href: "https://www.facebook.com/kevin.luo2"} F
          %li
            %a{href: "#"} T
          %li
            %a{href: "#"} U
          %li
            %a{href: "#"} X      
      .member
        .overlay
        %img{alt: "Poc Hsu", src:  asset_path("economizer/images/poc.jpg")}/
        %p.name.to-right Poc
        %p.position.to-right Web Developer
        %p.info.to-right Change the world, yeah !
        %ul.social.to-right
          %li
            %a{href: "https://www.facebook.com/poc7667"} F
          %li
            %a{href: "#"} T
          %li
            %a{href: "#"} U
          %li
            %a{href: "#"} X
      / /.member

            
      / .member
      /   .overlay
      /   %img{alt: "Charlotte Dykes", src:  asset_path("economizer/images/20140426-Screenshot_2014_4_26_下午10_42.jpg")}/

      /   %p.name.to-right Charlotte Dykes.
      /   %p.position.to-right Web Developer
      /   %p.info.to-right Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit.
      /   %ul.social.to-right
      /     %li
      /       %a{href: "#"} F
      /     %li
      /       %a{href: "#"} T
      /     %li
      /       %a{href: "#"} U
      /     %li
      /       %a{href: "#"} X
      / /.member
      / .member
      /   .overlay
      /   %img{alt: "William Paton", src:  asset_path("economizer/images/face3.jpg")}/
      /   %p.name.to-right William Paton.
      /   %p.position.to-right Web Developer
      /   %p.info.to-right Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit.
      /   %ul.social.to-right
      /     %li
      /       %a{href: "#"} F
      /     %li
      /       %a{href: "#"} T
      /     %li
      /       %a{href: "#"} U
      /     %li
      /       %a{href: "#"} X
      / / /.member
      / .member
      /   .overlay
      /   %img{alt: "Courtney Vijars", src:  asset_path("economizer/images/face4.jpg")}/
      /   %p.name.to-left Courtney Vijars.
      /   %p.position.to-left Web Developer
      /   %p.info.to-left Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit.
      /   %ul.social.to-left
      /     %li
      /       %a{href: "#"} F
      /     %li
      /       %a{href: "#"} T
      /     %li
      /       %a{href: "#"} U
      /     %li
      /       %a{href: "#"} X
      / / /.member
      / .member
      /   .overlay
      /   %img{alt: "Hok-Yee Siu", src:  asset_path("economizer/images/face5.jpg")}/
      /   %p.name.to-left Hok-Yee Siu.
      /   %p.position.to-left Web Developer
      /   %p.info.to-left Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit.
      /   %ul.social.to-left
      /     %li
      /       %a{href: "#"} F
      /     %li
      /       %a{href: "#"} T
      /     %li
      /       %a{href: "#"} U
      /     %li
      /       %a{href: "#"} X
      / /.member
    / /.members
  / /.container
/ /.our-team
