%section.portfolio-single
  %a.portfolio-back Close
  .container
    %a.portfolio-next
      Next
      %i.icon-arrow-right
    %a.portfolio-prev
      %i.icon-arrow-left>
      Previous
    %h1.portfolio-title.hero
    %p.sub-hero.portfolio-subtitle
    .basket
    / /.basket
  / /.container
/ /.portfolio-single
