%section.pricing.bordered
  .container
    %h1.hero What does it cost
    %p.sub-hero Check out our pricing options below to find the package that suits you
    .row-fluid
      .package.span3
        %header
          %h2 Package 1
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Package info 1
          %li Package info 2
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!
      / /.span3.package
      .package.span3
        %header
          %h2 Package 2
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Package info 1
          %li Package info 2
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!
      / /.span3.package
      .package.span3.recommended
        %header
          %h2 Package 3
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Package info 1
          %li Package info 2
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!
      / /.span3.package
      .package.span3
        %header
          %h2 Package 4
        %ul.fancy-list.nmp{"data-icon" => "icon-check"}
          %li Package info 1
          %li Package info 2
          %li Package info 3
          %li.highlight Package info 4
          %li Package info 5
        %footer
          %a.button.small{href: "#"} Enquire now!
      / /.span3.package
    / /.row-fluid
  / /.container
/ /.pricing
