%section.features
  .container
    .row-fluid.features-wrapper
      .span4.center.feature
        %i.icon-desktop
        %h2 Powerful
        %p Quisque ut augue libero, ut venenatis turpis. Duis suscipit, dui sit amet egestas fermentum, felis tortor venenatis magna, id imperdiet lectus sem non ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec cursus varius ligula, at mollis leo posuere eget. Morbi vel facilisis augue.
        %a.button.small{"data-target" => "feature1", href: "#"} Read more
      / /.span4 center feature
      .span4.center.feature
        %i.icon-check
        %h2 Responsive
        %p Quisque ut augue libero, ut venenatis turpis. Duis suscipit, dui sit amet egestas fermentum, felis tortor venenatis magna, id imperdiet lectus sem non ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec cursus varius ligula, at mollis leo posuere eget. Morbi vel facilisis augue.
        %a.button.small{"data-target" => "feature2", href: "#"} Read more
      / /.span4 center feature
      .span4.center.feature
        %i.icon-thumbs-up
        %h2 Flexible
        %p Quisque ut augue libero, ut venenatis turpis. Duis suscipit, dui sit amet egestas fermentum, felis tortor venenatis magna, id imperdiet lectus sem non ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec cursus varius ligula, at mollis leo posuere eget. Morbi vel facilisis augue.
        %a.button.small{"data-target" => "feature3", href: "#"} Read more
      / /.span4
    / /.row-fluid
  / /.container
/ /.features
