%section.testimonials.transparent.bordered
  .container
    %h1.hero Students say
    .flexslider.quotes
      %ul.slides
        %li
          %p.large 學習程式讓我覺得更輕鬆.
        %li
          %p.large Aliquam tristique nulla ut nunc pharetra feugiat. Pellentesque eleifend turpis et sem aliquam euismod. Sed sollicitudin vulputate orci vitae adipiscing. Nulla in dolor est. Etiam imperdiet bibendum risus, ut consectetur.
        %li
          %p.large Suspendisse magna lacus, placerat non semper in, ultrices sit amet neque. Sed ornare congue odio, vitae imperdiet lacus malesuada eget. Ut quis mauris felis, id ornare ipsum. Aenean ac risus.
  / /.container
/ /.testimonials