%section.testimonials.transparent.bordered
  .container
    %h1.hero Our customers say
    .flexslider.quotes
      %ul.slides
        %li
          %p.large Cras laoreet justo non libero dignissim ac tempus nulla faucibus. Aenean at nunc turpis, sit amet suscipit eros. Aliquam imperdiet pulvinar dapibus. Cras commodo augue quis augue consectetur eget sagittis purus dapibus.
        %li
          %p.large Aliquam tristique nulla ut nunc pharetra feugiat. Pellentesque eleifend turpis et sem aliquam euismod. Sed sollicitudin vulputate orci vitae adipiscing. Nulla in dolor est. Etiam imperdiet bibendum risus, ut consectetur.
        %li
          %p.large Suspendisse magna lacus, placerat non semper in, ultrices sit amet neque. Sed ornare congue odio, vitae imperdiet lacus malesuada eget. Ut quis mauris felis, id ornare ipsum. Aenean ac risus.
  / /.container
/ /.testimonials